/* @import sections/_main.css */
#main {

    color: $color-tx-main;
    background-color: $color-bg-main;

	em, a {
		font-size: 120%;
		vertical-align: -4%;
	}
	
	li {
	    list-style: none;
	    font-size: 100%;
	}

    p {
        padding: 10px 15px;
    }

	@media $small {
        p {
            padding: 10px 20px;
        }

        li {
            font-size: 80%;
        }

        em, a {
            font-size: 160%;
            vertical-align: -4%;
        }
    }

	a {
	    color: $color-lk-main; 
	}
	
	.signature {
		font-family: $font-signature;
		font-size: 4rem;
	}
	
	.container {
        background-color: $color-bg-main;
	}
}