/* @import sections/_portfolio.css */

$item-width: 100%;

#portfolio {
	.project-cards {
		.project-card {
			@media $small {
				width: calc($item-width/2 - 1.5rem);
			}

			@media $large {
				width: calc($item-width/3 - 1.5rem);
			}
		}/*.project-card*/
	}/*.project-cards*/
}
