/* @import modules/_xxsection.css */

#intro, #vpintro, #sdintro, #wsintro {

    padding-top: 1rem;

    color: $color-tx-main;
    background-color: $color-bg-main;

	.container {
        background-color: $color-bg-main;
	}

	em, a {
		font-size: 120%;
		vertical-align: -4%;
	}
	
	em {
	    color: $color-em-main;
	}
	
	li {
	    list-style: none;
	    font-size: 100%;
	}

    p {
        padding: 0;
    }
    
    h1 {
        @mixin smallTextShadow $sh-lighttan;
    }

    h4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $color-tx-main;
    }

	@media $small {
        p {
            padding: 10px 20px;
        }

        li {
            font-size: 80%;
        }

        em, a {
            font-size: 160%;
            vertical-align: -4%;
        }
    }

    a{
        color: $color-lk-pcard;
        
        &:hover, &:active {
            color: $color-ah-pcard;
        }
    }
}

#portfolio, #vpsection, #sdsection, #wssection, #pxsection{

	h1 {
		margin-top: 2rem;
		margin-bottom: 1rem;
		@mixin smallTextShadow;
	}

	em, a {
		font-size: 120%;
		font-weight: 600;
		vertical-align: -4%;
	}
	em{
	    padding-right: 5px;
	}
	
	.italics {
		font-style: italic;
		font-size: 120%;
		font-weight: 600;
		vertical-align: -4%;
	    padding-right: 5px;
	    color: $dark-orange;
	    @mixin smallTextShadow;
	}
	
	li {
	    list-style: none;
	    font-size: 100%;
	}

    p {
        padding: 5px 10px;
    }

	@media $small {
        p {
            padding: 10px 20px;
        }

        li {
            font-size: 80%;
        }

        em, a {
            font-size: 160%;
            vertical-align: -8%;
        }
    }

	.project-cards {
		@media $small {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		.project-card {
			background-color: $color-bg-portfolio-card;
			box-shadow: 5px 5px 3px color($color-bg-portfolio-shadow alpha(50%));
			border-radius: 20px;
			margin-bottom: 3rem;
			
			@media $small {
                transition: all .2s ease-in;
                transform: scale(.9);
                opacity: .8;
            
                &:hover {
                    margin:0;
                    transform: scale(1.05);
                    opacity: 1;
                }
            }
			
            .pc-thumb {
                margin: 0 auto;
                padding: 0 0 1rem 0;
                text-align: center;
                background-color: $color-pb-thumb;
        
				a{
				    color: $color-lk-pcard;
				    
				    &:hover, &:active {
				        color: $color-ah-pcard;
				    }
				}

                span {
                    display: block;
                    margin-top: 1rem;
                }
            }
    
			.pcard-info {
				background-color: $color-bg-pcard-info;
				padding: 3% 7%;
    			border-radius: 20px 20px 0 0;
			
				.pcard-name {
					font-size: 2rem;
					line-height: 160%;
					color: $color-tx-pcard-name;
					font-weight: $font-weight-bold;
					@mixin bigTextShadow;
				}
			
				.pcard-title {
					color: $color-tx-pcard-title;
					font-size: 1.4rem;
					line-height: 100%;
					@mixin bigTextShadow;
				}
			}
			
			.pcard-text {
				font-size: 1.8rem;
				font-weight: $font-weight-normal;
				line-height: 160%;
				margin: 0;
				padding: 7%;

				a{
				    color: $color-lk-pcard;
				    
				    &:hover, &:active {
				        color: $color-ah-pcard;
				    }
				}
			}

		}/*.project-card*/
	}/*.project-cards*/
}

#pxsection, #about {
    color: $color-tx-about;
    background-color: $color-bg-about;
    
    h1 {
        @mixin smallTextShadow $sh-lighttan;
    }

	em, a {
		font-size: 120%;
		vertical-align: -4%;
	}
	
	em {
	    color: $color-em-about;
	}
	
	a {
		font-style: italic;
	    color: $color-lk-about; 
	}
	
	li {
	    list-style: none;
	    font-size: 100%;
	}

    p {
        padding: 0;
    }

	@media $small {
        p {
            padding: 10px 20px;
        }

        li {
            font-size: 80%;
        }

        em, a {
            font-size: 130%;
            vertical-align: -6%;
        }
    }
    padding-bottom: 3rem;
}

