/* @import _mixins.css */
@define-mixin bgImage
	$image,
	$height: 100vh,
	$grstart: rgba(0,0,0,.2),
	$grend: rgba(0,0,0,.5),
	$bgPos: center center,
	$bgSize: cover {
		background: linear-gradient(to bottom, $grstart, $grend), url($image);
		background-repeat: no-repeat;
		background-position: $bgPos;
		background-size: $bgSize;
		height: 60vh;
		max-height: $height;
	}
