/* @import _variables.css */
@import 'https://fonts.googleapis.com/css?family=Seaweed+Script|Raleway:300,600,700';

$font-main: Raleway, Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-heavy: 700;
$font-signature: Seaweed Script, cursive;

/* seaside hues */
$sh-silver: #E2E2DF;
$sh-lighttan: #F7F8EE;
$sh-lightblue: #D6E8F0;
$sh-gray: #A8A9B4;
$sh-darkgray: #696D74;
$sh-teal: #A0ADAC;

$pastel-red: #ff866a;

$color-main: color($sh-darkgray shade(50%));
$color-tagline: $color-main;
$color-tagline-vp: color($sh-lightblue blackness(10%));
$color-tagline-ws: $color-main;
$color-tagline-sd: $color-main;
$color-background: $sh-silver;
$color-bg-main: color($sh-darkgray lightness(20%));
$color-tx-main: color($sh-lighttan blackness(10%));
$color-lk-main: color($sh-lightblue tint(5%));
$color-bg-portfolio: color($color-background shade(10%));
$color-bg-portfolio-card: $sh-lighttan;
$color-bg-portfolio-card-title: color(black lightness(5%));
$color-tx-portfolio: color($sh-lighttan lightness(10%));
$color-lk-portfolio: color($sh-lighttan tint(5%));
$color-bg-about: color($sh-teal shade(5%));
$color-tx-about: color($sh-lighttan lightness(10%));
$color-lk-about: color($sh-lighttan tint(5%));
$color-bg-footer: color($sh-darkgray lightness(20%));
$color-tx-footer: color($sh-lighttan blackness(10%));
$color-lk-footer: color($sh-lightblue tint(5%));

/* TODO: Figure out exactly what I want these widths to bet set to */

$small: screen and (min-width: 600px);
$medium: screen and (min-width: 900px);
$large: screen and (min-width: 1200px);

$container-default-width: 100%;
$container-max-width: 1200px;

