/* @import modules/_section.css */

.section {
	/*	
    min-height: 40vh;
    line-height: 160%;
	display: flex;
	flex-direction: column;
	justify-content: center;

    @media $small {
        font-size: 2rem;
    }

    */
	h1 {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-size: 3rem;
		margin-top: 2rem;
		line-height: 140%;
		padding-bottom: 1rem;
	}
    /*
	em, a {
		font-size: 140%;
		vertical-align: -6%;
	}
    */
}
